/* index-style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body.index-page {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FCFCFC; /* Different background color for About page */
    background-image:    url(/assets/images/index.svg);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
  }

.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 50px); /* Full height minus the height of the navbar */
    padding: 20px;
}

.home-highlight {
    color: #00C9B2;
    font-family: Opificio;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
}

.home-intro{
    color: #000;
    font-family: Opificio;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    padding: 0 40px; /* Add padding to the left and right */
}

.interests span {
    color: var(--Fruit-orange, #FAAB11);
    font-family: "Varela Round";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    margin: 0 20px; /* Add space to the left and right of each item */
}

.work-button {
    background-color: #B2F670;
    border: none;
    padding: 20px 121px;
    color: #000;
    font-family: Opificio;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

.work-button:hover {
    border-radius: 20px;
    background: #A0E063;
}


/* About Page */


body.about-page {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FCFCFC; /* Different background color for About page */
    background-image:    url(/assets/images/about.svg);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    overflow: hidden
}
.about-me-intro {
    padding: 0px;
    font-family: Opificio;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding-right: 0px;
    padding-top: 5%;
    padding-left: 25%;
    width: 65%;
    height: 20%;
    border: 1px solid red;ß
}
.about-me-highlight {
    font-family: "Typo Hoop Demo";
    color: #FAAB11;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    width: 100%;
    padding-right: 20%;
    border: 1px solid red;
}

/* Porfolio Page */

body.portfolio-page {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FCFCFC; /* Different background color for About page */
    background-image:    url(/assets/images/portfolio.svg);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
  }
  
  .portfolio-intro {
    padding: 0px;
    font-family: Opificio;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding-right: 0px;
    padding-top: 5%;
    padding-left: 25%;
    width: 65%;
    height: 20%;
    border: 1px solid red;ß
  }
  .portfolio-highlight {
    font-family: "Typo Hoop Demo";
    color: #00C9B2;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    width: 100%;
    padding-right: 20%;
    border: 1px solid red;
  }

/* Resume Page */

body.resume-page {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FCFCFC; /* Different background color for About page */
    background-image:    url(/assets/images/resume.svg);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}

.resume-intro {
    padding: 0px;
    font-family: Opificio;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding-right: 0px;
    padding-top: 5%;
    padding-left: 25%;
    width: 65%;
    height: 20%;
    border: 1px solid red;ß
  }
  .resume-highlight {
    font-family: "Typo Hoop Demo";
    color: #98DE56;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    width: 100%;
    padding-right: 20%;
    border: 1px solid red;
  }

/* Contact Page */

body.contact-page {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FCFCFC; /* Different background color for About page */
    background-image:    url(/assets/images/contact.svg);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
  }
  
  .contact-intro {
    padding: 0px;
    font-family: Opificio;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding-right: 0px;
    padding-top: 5%;
    padding-left: 25%;
    width: 65%;
    height: 20%;
    border: 1px solid red;ß
  }
  .contact-highlight {
    font-family: "Typo Hoop Demo";
    color: #86DF31;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    width: 100%;
    padding-right: 20%;
    border: 1px solid red;
  }