
body.portfolio-page {
  font-family: Opificio;
  margin: 0;
  padding: 0;
  background: #FCFCFC; /* Different background color for About page */
  background-image:    url(/assets/images/portfolio.svg);
  background-attachment: fixed;
  background-size: cover;
  color: #333;
}

.portfolio-intro {
  font-family: Opificio;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  padding-right: 25%;
  padding-left: 25%;
  width: 65%;
  height: 20%;
}

.portfolio-highlight {
  font-family: "Typo Hoop Demo";
  color: #00C9B2;
  font-size: 30px;
  font-weight: 400;
  text-align: right;
  padding-right: 20%;
  padding-top: 15%;
}

@media only screen and (max-width: 768px) {
  .highlight {
     padding-right: 25%;
     padding-top: 25%;
     font-size: 25px;
  }
  .intro {
    font-size: 25px;
    padding-right: 25%;
    padding-left: 25%
  }
  body.portfolio-page {
    background-image:     url(assets/images/portfolio-tablet.svg);
  }
}

@media only screen and (max-width: 480px) {
  .highlight {
    padding-right: 25%;
    padding-top: 25%;
    font-size: 20px;
 }
 .intro {
   font-size: 20px;
   padding-right: 25%;
   padding-left: 25%
 }
  body.portfolio-page {
    background-image:     url(assets/images/portfolio-mobile.svg);
  }
}